@model FlightFinalSite.Models.Plane

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Plane</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlaneName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaneName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaneType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaneType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaneCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaneCapacity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlaneID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
